*{
    box-sizing: border-box;
    justify-content: center;
}
.content{
    display: flex;
    background-color: transparent;
    border: 0px solid rgb(255, 255, 255);
    
    
}
.image{
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    background-color: white;
    padding: 100px;
    
    
}
.login{
    background-color:rgb(0, 204, 255);
    padding:40px;
    color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15px 15px 0px;
    background-image: linear-gradient(to right,rgb(255, 0, 242) ,rgb(0, 47, 255));
    

}
input{
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    outline: none;
    margin:3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

}
p{
    font-weight: 100;
    letter-spacing: 2px;
    font-family:  'Anton', sans-serif;
    margin-top: 50px;
}
.check{
    accent-color: red;
    margin-top: 20px;
    margin-left: 10px;
}
.title{
    float: left;
}
span{
    position: relative;
    bottom: 2px;
}
.clear{
    clear: both;
}
#input{
    width: 300px;
    height: 45px;
}
button{
    background-color:transparent;
    padding:10px;
    width: 100px;
    border: 2px solid white;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 9px;
}
button:hover{
    background-color: white;
    color: black;
    font-weight: 500;
}
body{
    
    margin-top: 70px;

    
    
}
@media screen and (max-width: 643px){
    .image{
        display: none;
    }
    .login{
        border-radius: 15px;

    }
}